<div class="login-container">

<section class="form">
    <h2>Meeting</h2>

<div class="form-details">
<form action="/meetings/{{_id}}/edit" method="POST">

    <div class="element">
      <label for="name">Name: 
        <input type="text" name="name" id="" value="{{name}}">
      </label>
    </div>

    <div class="element">
      <label for="typeOfMeeting"> Type of event:
        <select name="typeOfMeeting"> 
            <option value="1-on-1">1-on-1</option>
            <option value="Study Group">Study Group</option>
            <option value="Beers and fun">Beers and Fun</option>
            <option value="Book Club">Book Club</option>
        </select>
      </label>
    </div>

   <div class="element">
     <label for="language"> Language:
        <select name="language"> 
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
            <option value="Catalan">Catalan</option>
            <option value="French">French</option>
            <option value="Italian">Italian</option>
            <option value="German">German</option>
            <option value="Chinese">Chinese</option>
            <option value="Japanese">Japanese</option>
            <option value="Hindi">Hindi</option>
            <option value="Russian">Russian</option>
            <option value="Dutch">Dutch</option>
            <option value="Swedish">Swedish</option>
            <option value="Portuguese">Portuguese</option>
            <option value="Korean">Korean</option>
            <option value="Polish">Polish</option>
            <option value="Greek">Greek</option>
            <option value="Others">Others</option>
        </select>
     </label>
    </div>

    <div class="element">
      <label for="schedule">Day: 
        <input type="date" name="schedule" id="" value="{{schedule}}">
      </label>
    </div>

    <div class="element">
      <label for="time">Time: 
        <input type="time" name="time" id="" value="{{time}}">
      </label>
    </div>

    <div class="element">
      <label for="city">City: 
        <input type="text" name="city" id="" value="{{city}}">
      </label>
    </div>

    <div class="element">
      <label for="description">Description: 
        <input type="text" name="description" id=""value="{{description}}">
      </label>
    </div>
    
<hr>
  <div class="submit-btn">
    <button type="submit">Save changes</button>
    </form>
   </div>

<div class="submit-btn">
  <form action="/meetings/{{_id}}/delete" method="POST">
     <button type="submit"> Delete meeting</button>
  </form>
</div>

</div>
</section>
</div>