<h2>Event details:</h2>

    
    <p>Name of the Event: {{name}}</p>
    <p>The host: {{host.username}}</p>
    <p>Contact email: {{host.email}}</p>
    <p>Language: {{language}}</p>
    <p>Schedule: {{schedule}} | {{time}}</p>
    <p>Atendees: </p>
    {{#each attendees}}
        <a href="/user/{{_id}}"><p>{{username}}</p></a>
    {{/each}}

    <form action="/meetings/{{_id}}/join" method="POST">
        <button type="submit">Join this event</button>
    </form>

    <a href="/meetings/{{_id}}/edit"> <button type="submit">Edit Event</button> </a>