<section class="flexAleix" id="eventDetailsTitle">
    <h1>{{meeting.name}}</h1>
    {{#if meeting.city}}
        <div class="meetingIcon">
            <img src="/images/pin-21501.png" alt="" class="pinIcon">
            <h2>{{meeting.city}}</h2>
        </div>
    {{/if}}
    {{#if meeting.time}}
        {{#if meeting.schedule}}
            <h2>{{meeting.time}}  |  {{meeting.schedule}}</h2>
        {{/if}}
    {{/if}}
</section>


<section class="flexAleix" id="eventDetailsDescription">
    <h2>Language: {{meeting.language}}</h2>
    <p>{{meeting.description}}</p>
</section>


<section class="flexAleix" id="eventDetailsParticipants">
    <div class="joinBtn">
        <form action="/meetings/{{meeting._id}}/join" method="POST">
            <button type="submit">Join this event</button>
        </form>
    </div>

    <div class="attendees">
        <div class="host">
            <p>Hosted by:</p>
            <h3>{{meeting.host.username}}</h3>
            <p>Contact: {{meeting.host.email}}</p>
        </div>
        <h1>Attendees: </h1>
        <div class="attendeesNames">
            {{#each meeting.attendees}}
                <a href="/user/{{_id}}"><p>{{username}}</p></a>
            {{/each}}
        </div>
    </div>

</section>
 <div class="edit-btn"> 
{{#if (equals meeting.host._id userId)}}
    <a href="/meetings/{{meeting._id}}/edit"> <button type="submit">Edit Event</button> </a>
{{/if}}
</div>  