<h2>Event details:</h2>

    
    <p>Name of the Evenet: {{name}}</p>
    <p>The host: {{host}}</p>
    <p>Language: {{language}}</p>
    <p>Contact email: {{contactEmail}}</p>
    <p>Schedule: {{Schedule}}</p>
    <p>Atendees: {{Atendees}}</p>

    <a href="/meetings/{{_id}}/edit"> <button type="submit">Edit Event</button> </a>