<h2>Meeting</h2>


    <p>{{name}}</p>
    <p>{{description}}</p>
    <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png">{{imgUrl}}</p>
    
    <h2>Owner</h2>
    <p>{{owner.fullName}}</p>
    <h2>More details, please contact:</h2>
    <p>{{owner.email}}</p>

<a href="/meetings/{{_id}}/edit"> Edit room </a>