<section class="flexAleix" id="eventDetailsTitle">
    <h2>{{name}}</h2>
    <h3>{{city}}</h3>
    <h3>{{time}}  |  {{schedule}}</h3>
</section>


<section class="flexAleix" id="eventDetailsDescription">
    <h2>Language: {{language}}</h2>
    <p>{{description}}</p>
</section>


<section class="flexAleix" id="eventDetailsParticipants">
    <div>
        <form action="/meetings/{{_id}}/join" method="POST">
            <button type="submit">Join this event</button>
        </form>
    </div>

    <div class="attendees">
        <p>Atendees: </p>
        <div class="host">
            <p>Hosted by: {{host.username}}</p>
            <p>Contact: {{host.email}}</p>
        </div>
        <div class="attendeesNames">
            {{#each attendees}}
                <a href="/user/{{_id}}"><p>{{username}}</p></a>
            {{/each}}
        </div>
    </div>

</section>
    

    <a href="/meetings/{{_id}}/edit"> <button type="submit">Edit Event</button> </a>