<h2>Meeting</h2>

<form action="/meetings/{{_id}}/edit" method="POST">
    <label for="name">Name: 
        <input type="text" name="name" id="" value="{{name}}">
    </label>

    <label for="typeOfMeeting">Type of meeting: 
        <input type="text" name="typeOfMeeting" id="" value="{{typeOfMeeting}}">
    </label>

    <label for="language">Language: 
        <input type="text" name="language" id="" value="{{language}}">
    </label>

    <label for="schedule">Schedule: 
        <input type="text" name="schedule" id="" value="{{schedule}}">
    </label>

    
<hr>
    <button type="submit">Save changes</button>
</form>

 <form action="/meetings/{{_id}}/delete" method="POST">
 <button type="submit"> Delete meeting</button>
 </form>
