
<h2> {{username}}'s Profile</h2>

<br>

<ul>
    <li> Username:   {{username}} </li>
    <li> email:   {{email}} </li>
    <li> Bio:   {{description}} </li>
    <li> City:   {{city}} </li>
    <li> Language you speak:   {{languageSpeak}} </li>
    <li> Language you want to learn:   {{languageLearn}} </li>
    <li> <img src="{{imgUrl}}"alt="cat">  </li>    
</ul>

Events:

The User {{username}} has hosted the following Events:

{{meetings}}


The User {{username}} has participated in the following Events:

 <hr>
