<div class="login-container">

<section class="profile-header">
  <div id="editBtnDiv">
    <a id="edit-profilebtn" href="/user/edit">Edit your profile</a>
  </div>

  <div id="img-container">
    <h2 class="element">{{username}}</h2>
    <img class="profile-img" src="{{imgUrl}}"alt="default">     
    <h2 class="element"> City: {{city}} </h2>
    <h2 class="element"> Contact: {{email}} </h2>
  </div>

</section>

<section class="profile-detailsFlex">

  <div class="profile-details">
    <h1>ABOUT ME</h1>
    {{#if description}}
      <h2 class="element"><em>"{{description}}"</em></h2>
    {{else}}
      <h2 class="element"><em>{{username}} still has no bio. Suspicious!</em></h2>
    {{/if}}
    <div class="languagesProfile">
      <div>
        <h2 class="element"> I can speak</h2>
          {{#each languageSpeak}}
           <h3>{{this}}</h3> 
           {{/each}}
      </div>
      
      <div>
        <h2 class="element"> I want to learn</h2>
        
        {{#each languageLearn}}
         <h3>{{this}}</h3> 
        {{/each}}
        
      </div>
    </div>
      <div>

      </div>
      <h2 class="element"> Prefered schedule:   {{schedule}} </h2>
      <h2 class="element"> I prefer to meet:   {{meetingPreference}} </h2> 
  </div>

</section>

<section class="flexAleix" id="profileEvents">
    <h2>Hosted events</h2>

    <div class="width80">
        {{#if meetings}}
            {{#each meetings}}
                <div class="flexMeeting">
                    <div>
                        <h3>{{name}}</h3>
                        
                        <div class="meetingIcon">
                            <img src="/images/pin-21501.png" alt="" class="pinIcon">
                            <p>{{city}}</p>
                        </div>

                        <p>{{language}}</p>

                    </div>
                    <div>
                        <a href="/meetings/{{_id}}">See more details</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="flexMeeting">
                <h3>{{username}} hasn't hosted any events yet.</h3>
            </div>
        {{/if}}
    </div>

    <h2>Joined events</h2>

    <div class="width80">
        {{#if meetingsAttended}}
            {{#each meetingsAttended}}
                <div class="flexMeeting">
                    <div>
                        <h3>{{name}}</h3>
                        
                        <div class="meetingIcon">
                            <img src="/images/pin-21501.png" alt="" class="pinIcon">
                            <p>{{city}}</p>
                        </div>

                        <p>{{language}}</p>

                    </div>
                    <div>
                        <a href="/meetings/{{_id}}">See more details</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="flexMeeting">
                <h3>{{username}} hasn't joined any events yet.</h3>
            </div>
        {{/if}}
    </div>
</section>

</div>