<h2>Edit profile</h2>

<form action="/user/edit" method="POST" enctype="multipart/form-data">
  <label for="username"> Username:
    <input type="text" name="username" value="{{username}}"/>
  </label>
  <br>

  <label for="description"> Bio:
    <input type="text" name="description" value="{{description}}"/> 
  </label>
  <br>
  
  <label for="city"> City:
    <input type="text" name="city" value="{{city}}"/> 
  </label>
  <br>

  <label for="languageSpeak"> Languages I speak:
    <input type="text" name="languageSpeak" value="{{languageSpeak}}"/> 
  </label>
  <br>

  <label for="languageLearn"> Languages I want to learn:
    <input type="text" name="languageLearn" value="{{languageLearn}}"/> 
  </label>
  <br>

 <label> Preferred schedule:
    <input type="text" name="schedule" value="{{schedule}}"/> 
  </label>
   <br>

 <label> I prefer to meet:
   <select name="meetingPreference"> 
     <option value="online">online</option>
     <option value="in-person">in-person</option>
     <option value="both">Both</option>
   </select>
  </label>

   <br>

  <label> Profile picture:
    <input type="file" name="imgUrl">
  </label>
  <br>

  <button type="submit"> Update profile </button>
</form>

