
<h2> {{username}}'s Profile</h2>

<br>

<ul>
    <li> Username:   {{username}} </li>
    <li> email:   {{email}} </li>
    <li> Bio:   {{description}} </li>
    <li> City:   {{city}} </li>
    <li> Language you speak:   {{languageSpeak}} </li>
    <li> Language you want to learn:   {{languageLearn}} </li>
    <li> Prefered schedule:   {{schedule}} </li>
    <li> I prefer to meet:   {{meetingPreference}} </li>
    <li> Your Picture: <img src="{{imgUrl}}"alt="cat"> </li>    
</ul>

<h3>{{username}}'s events:</h3>

{{#each meetings}}
    <a href="/meetings/{{_id}}"><h4>{{name}}</h4></a>
    <p>{{language}}</p>
    <hr>
{{/each}}


The User {{username}} has participated in the following Events:

{{#each meetingsAttended}}
    <a href="/meetings/{{_id}}"><h4>{{name}}</h4></a>
{{/each}}

 <hr>
