<section class="flexAleix" id="resultsSearchSection">
    <div class="flexResults">

        <form action="/user/results" method="POST" class="formProfiles">
            <div class="flexFormInputs">
                <div class="flexLabels">
                    <p>I want to learn:</p>
                    <label for="languageSpeak"> 
                        <select name="languageSpeak"> 
                                <option value="English">English</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Catalan">Catalan</option>
                                <option value="French">French</option>
                                <option value="Italian">Italian</option>
                                <option value="German">German</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Hindi">Hindi</option>
                                <option value="Russian">Russian</option>
                                <option value="Dutch">Dutch</option>
                                <option value="Swedish">Swedish</option>
                                <option value="Portuguese">Portuguese</option>
                                <option value="Korean">Korean</option>
                                <option value="Polish">Polish</option>
                                <option value="Greek">Greek</option>
                                <option value="Others">Others</option>
                            </select>
                    </label>
                </div>

                <div class="flexLabels">
                    <p>I speak:</p>
                    <label for="languageLearn">
                           <select name="languageLearn"> 
                                <option value="English">English</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Catalan">Catalan</option>
                                <option value="French">French</option>
                                <option value="Italian">Italian</option>
                                <option value="German">German</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Hindi">Hindi</option>
                                <option value="Russian">Russian</option>
                                <option value="Dutch">Dutch</option>
                                <option value="Swedish">Swedish</option>
                                <option value="Portuguese">Portuguese</option>
                                <option value="Korean">Korean</option>
                                <option value="Polish">Polish</option>
                                <option value="Greek">Greek</option>
                                <option value="Others">Others</option>
                            </select> 
                    </label>
                </div>

                <div class="flexLabels">
                    <p>I prefer to meet:</p>
                    <label for="meetingPreference">
                    <select name="meetingPreference"> 
                        <option value="online">online</option>
                        <option value="in-person">in-person</option>
                        <option value="both">Both</option>
                    </select>
                    </label>
                </div>

            </div>
            <div class="flexFormInputs">
                <button type="submit">Find Profiles</button>
            </div>

        </form>

    </div>
</section>

<section class="flexAleix" id="resultsListSection">
    <h2>Browse profiles</h2>

    <div class="profilesList">
        {{#each profiles}}

            <div class="flexProfile">
                <h3>{{username}}</h3>
                <div class="flexProfile2">
                    <div class="imgContainer">
                        <img src="{{imgUrl}}" alt="" class="profileImgResults">
                    </div>
                    <div>
                        <p>{{city}}</p>
                        <p>I speak:</p>
                        <ul>
                            {{#each languageSpeak}}
                                <p>{{this}}</p>
                            {{/each}}
                        </ul>
                        <p>I want to learn:</p>
                        <ul>
                            {{#each languageLearn}}
                                <p>{{this}}</p>
                            {{/each}}
                        </ul>
                        <a href="/user/{{_id}}" class="profileListButton">See more</a>
                    </div>
                </div>
            </div>

        {{/each}}
    </div>
</section>
