<div class="login-container">

<section class="profile-header">
  <div id="editBtnDiv">
    <a id="edit-profilebtn" href="/user/edit">Edit your profile</a>
  </div>


  <div id="img-container">
    <h1 class="element">{{username}}</h1>
    <img class="profile-img" src="{{imgUrl}}"alt="default">     
    {{#if city}}
        <div class="meetingIcon">
            <img src="/images/pin-21501.png" alt="" class="pinIcon">
            <p>{{city}}</p>
        </div>
    {{/if}}
    <p class="contactEmail">Contact: <strong>{{email}}</strong></p>
  </div>
</section>

<section class="profile-detailsFlex">

    <div class="profile-details">
        <h1>About</h1>
        {{#if description}}
            <p class="bioProfile"><em>"{{description}}"</em></p>
        {{else}}
            <p class="bioProfile"><em>{{username}} still has no bio. Suspicious!</em></p>
        {{/if}}


        <div class="languagesProfile">
            <div>
                <h3 class="element"> I can speak</h3>
                <ul>
                    {{#each languageSpeak}}
                        <p class="element">{{this}}</p>
                    {{/each}}
                </ul>
            </div>

            <div>
                <h3 class="element"> I want to learn</h3>
                <ul>
                    {{#each languageLearn}}
                        <p class="element">{{this}}</p>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="scheduleAndPreference">
            {{#if schedule}}<h3 class="element"> Schedule: <span>{{schedule}}</span></h3>{{/if}}
            <h3 class="element"> I prefer to meet: <span>{{meetingPreference}}</span></h3>
        </div>
    </div>

</section>

<section class="flexAleix" id="profileEvents">
    <h1>Hosted events</h1>

    <div class="width80">
        {{#if meetings}}
            {{#each meetings}}
                <div class="flexMeeting">
                    <div>
                        <h3>{{name}}</h3>
                        
                        {{#if city}}
                            <div class="meetingIcon">
                                <img src="/images/pin-21501.png" alt="" class="pinIcon">
                                <p>{{city}}</p>
                            </div>
                        {{/if}}

                        <p>{{language}}</p>

                    </div>
                    <div class="meetingDetails">
                        <a href="/meetings/{{_id}}" class="">See more details</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="flexMeeting">
                <p>{{username}} hasn't hosted any events yet.</p>
            </div>
        {{/if}}
    </div>

    <h1>Joined events</h1>

    <div class="width80">
        {{#if meetingsAttended}}
            {{#each meetingsAttended}}
                <div class="flexMeeting">
                    <div>
                        <h3>{{name}}</h3>
                        
                        {{#if city}}
                            <div class="meetingIcon">
                                <img src="/images/pin-21501.png" alt="" class="pinIcon">
                                <p>{{city}}</p>
                            </div>
                        {{/if}}

                        <p>{{language}}</p>

                    </div>
                    <div class="meetingDetails">
                        <a href="/meetings/{{_id}}">See more details</a>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="flexMeeting">
                <h3>{{username}} hasn't joined any events yet.</h3>
            </div>
        {{/if}}
    </div>
</section>

</div>