<h2>Profile</h2>

Hello {{this.username}}
<br>
this is your configuration:

<ul>
    <li> Username:   {{username}} </li>
    <li> email:   {{email}} </li>
    <li> Bio:   {{description}} </li>
    <li> City:   {{city}} </li>
    <li> Language you speak:   {{languageSpeak}} </li>
    <li> Language you want to learn:   {{languageLearn}} </li>
    <li> Prefered schedule:   {{schedule}} </li>
    <li> I prefer to meet with:   {{preferedGender}} </li>
    <li> Your Picture: <img src="{{imgUrl}}"alt="cat"> </li>    
</ul>

<h3>{{username}}'s events:</h3>
{{#each meetings}}
    <h4>{{name}}</h4>
    <p>{{language}}</p>
    <hr>
{{/each}}

 <hr>

<a href="/user/edit"> <button type="submit">Edit your profile</button></a>